# dunder folders
__pycache__


# datasets
*.npy
datasets/exchange_rate
datasets/electricity
# checkpoints
*.pt
multivariate_demos/lightning_logs
multivariate_demos/wandb
multivariate_demos/checkpoints
multivariate_demos/test_results
*.ipynb_checkpoints*
# samples
samples*
gifs*

# scripts
*.slrm

# misc
archive*
wandb*
*.DS_Store

